---
layout: default
title: Gallery
---

{% include header.html %}
{% include navigation.html %}

<main class="hero-shape-3 position-relative">
  {% include lt_page_title.html %}
  <!--  ====================== Gallery Section Start =============================  -->
  <div class="gallery-area pt-7 pt-lg-9">
    <div class="container">
      <div class="row" data-masonry='{"percentPosition": true }'>
        <div class="col-md-6 col-lg-4">
          <div class="gallery-box mt-3" data-aos="fade">
            <img src="{{'/assets/images/gallery/1.jpg' | relative_url}}" alt="title">
            <a href="{{'/assets/images/gallery/1.jpg' | relative_url}}" class="gallery-plus image-popup"><img
                src="{{'/assets/images/gallery-plus.svg' | relative_url}}" alt="title"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="gallery-box gallery-big mt-3" data-aos="fade">
            <img src="{{'/assets/images/gallery/2.jpg' | relative_url}}" alt="title">
            <a href="{{'/assets/images/gallery/2.jpg' | relative_url}}" class="gallery-plus image-popup"><img
                src="{{'/assets/images/gallery-plus.svg' | relative_url}}" alt="title"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="gallery-box mt-3" data-aos="fade">
            <img src="{{'/assets/images/gallery/3.jpg' | relative_url}}" alt="title">
            <a href="{{'/assets/images/gallery/3.jpg' | relative_url}}" class="gallery-plus image-popup"><img
                src="{{'/assets/images/gallery-plus.svg' | relative_url}}" alt="title"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="gallery-box mt-3" data-aos="fade">
            <img src="{{'/assets/images/gallery/4.jpg' | relative_url}}" alt="title">
            <a href="{{'/assets/images/gallery/4.jpg' | relative_url}}" class="gallery-plus image-popup"><img
                src="{{'/assets/images/gallery-plus.svg' | relative_url}}" alt="title"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-8">
          <div class="gallery-box gallery-big mt-3" data-aos="fade">
            <img src="{{'/assets/images/gallery/5.jpg' | relative_url}}" alt="title">
            <a href="{{'/assets/images/gallery/5.jpg' | relative_url}}" class="gallery-plus image-popup"><img
                src="{{'/assets/images/gallery-plus.svg' | relative_url}}" alt="title"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="gallery-box mt-3" data-aos="fade">
            <img src="{{'/assets/images/gallery/6.jpg' | relative_url}}" alt="title">
            <a href="{{'/assets/images/gallery/6.jpg' | relative_url}}" class="gallery-plus image-popup"><img
                src="{{'/assets/images/gallery-plus.svg' | relative_url}}" alt="title"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="gallery-box gallery-big mt-3" data-aos="fade">
            <img src="{{'/assets/images/gallery/7.jpg' | relative_url}}" alt="title">
            <a href="{{'/assets/images/gallery/7.jpg' | relative_url}}" class="gallery-plus image-popup"><img
                src="{{'/assets/images/gallery-plus.svg' | relative_url}}" alt="title"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="gallery-box gallery-big mt-3" data-aos="fade">
            <img src="{{'/assets/images/gallery/8.jpg' | relative_url}}" alt="title">
            <a href="{{'/assets/images/gallery/8.jpg' | relative_url}}" class="gallery-plus image-popup"><img
                src="{{'/assets/images/gallery-plus.svg' | relative_url}}" alt="title"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="gallery-box mt-3" data-aos="fade">
            <img src="{{'/assets/images/gallery/9.jpg' | relative_url}}" alt="title">
            <a href="{{'/assets/images/gallery/9.jpg' | relative_url}}" class="gallery-plus image-popup"><img
                src="{{'/assets/images/gallery-plus.svg' | relative_url}}" alt="title"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="gallery-box mt-3" data-aos="fade">
            <img src="{{'/assets/images/gallery/10.jpg' | relative_url}}" alt="title">
            <a href="{{'/assets/images/gallery/10.jpg' | relative_url}}" class="gallery-plus image-popup"><img
                src="{{'/assets/images/gallery-plus.svg' | relative_url}}" alt="title"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="gallery-box mt-3" data-aos="fade">
            <img src="{{'/assets/images/gallery/11.jpg' | relative_url}}" alt="title">
            <a href="{{'/assets/images/gallery/11.jpg' | relative_url}}" class="gallery-plus image-popup"><img
                src="{{'/assets/images/gallery-plus.svg' | relative_url}}" alt="title"></a>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="gallery-box mt-3" data-aos="fade">
            <img src="{{'/assets/images/gallery/12.jpg' | relative_url}}" alt="title">
            <a href="{{'/assets/images/gallery/12.jpg' | relative_url}}" class="gallery-plus image-popup"><img
                src="{{'/assets/images/gallery-plus.svg' | relative_url}}" alt="title"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


{% include call-to-action3.html %}
{% include call-out-action.html %}
{% include footer.html %}