---
layout: default
title: Privacy Policy
permalink: /privacy-policy
---

{% include header.html %}
{% include navigation.html %}

  <main class="hero-shape-3 position-relative">
    {% include lt_page_title.html %}
    
    <section class="privacy-policy-area pt-7 pt-lg-9">
      <div class="container">
        <button type="button" aria-label="View cookie settings" data-cc="c-settings">Cookie Settings</button>
        <p class="c11">
          <span>This privacy policy applies between you, the User of </span><span>Puhuri webpage on https://puhuri.io</span><span>, hereinafter Website) and </span><span>the University of Tartu</span>
          <span class="c0">
              , the owner and provider of this Website. This privacy policy applies to our use of any Data collected by us or provided by you in relation to your use of the Website. Please read this privacy policy carefully.
          </span>
      </p>
      <p class="c7"><span class="c12"></span></p>
      <p class="c11">
          <span>We p</span>
          <span>
              rocess personal data only if there is a legal basis for it and only as long as necessary to achieve the objective of processing or to comply with legal obligations. The processor applies all relevant organizational, physical
              and technical security measures to protect the personal data that are at the University of Tartu disposal from unauthorized and non-compliant use, disclosure or damage.
          </span>
      </p>
      <h2 class="c1" id="h.qqf9uy62ubd9"><span class="c2">Definitions and interpretation</span></h2>
      <ol class="c4 lst-kix_i3604hineoim-0 start" start="1">
          <li class="c20 li-bullet-0">
              <h3 id="h.a7nsphok4mrw" style="display: inline;"><span class="c8">In this privacy policy, the following definitions are used:</span></h3>
          </li>
      </ol>
      <ol class="c4 lst-kix_i3604hineoim-1 start" start="1">
          <li class="c3 li-bullet-0">
              <span class="c9">Data</span><span>&nbsp;- </span><span>collectively any information</span><span>&nbsp;that we will collect and you submit</span><span>&nbsp;to </span><span>the University of Tartu</span>
              <span class="c0">&nbsp;via the Website. This definition incorporates, where applicable, the definitions provided in General Data Protection Regulation (GDPR);</span>
          </li>
          <li class="c3 li-bullet-0">
              <span class="c9">Cookies</span><span>&nbsp;- </span>
              <span class="c0">
                  a small text file placed on your computer by this Website when you visit certain parts of the Website and/or when you use certain features of the Website. Details of the cookies used by this Website are set out in the
                  clause below (Cookies);
              </span>
          </li>
          <li class="c3 li-bullet-0"><span>the University of Tartu</span><span class="c9">, we or us</span><span>&nbsp;- </span><span>&nbsp;the University of Tartu, &nbsp;&Uuml;likooli 18, 50090 Tartu, Estonia;</span></li>
          <li class="c3 li-bullet-0">
              <span class="c9">UK and EU Cookie Law</span><span>&nbsp;- </span>
              <span class="c0">the Privacy and Electronic Communications (EC Directive) Regulations 2003 as amended by the Privacy and Electronic Communications (EC Directive) (Amendment) Regulations 2011;</span>
          </li>
          <li class="c3 li-bullet-0">
              <span class="c9">User or you</span><span>&nbsp;- </span><span>any third party that accesses the Website and is not either (i) employed by </span><span>&nbsp;the University of Tartu</span>
              <span>&nbsp;and acting in the course of their employment or (ii) engaged as a consultant or otherwise providing services to </span><span>the University of Tartu</span>
              <span class="c0">&nbsp;and accessing the Website in connection with the provision of such services; </span>
          </li>
          <li class="c3 li-bullet-0">
              <span class="c9">Website</span><span>&nbsp;- </span><span>Puhuri webpage (https://puhuri.io)</span><span class="c0">&nbsp;and any sub-domains of this site unless expressly excluded by their own privacy policy.</span>
          </li>
      </ol>
      <ol class="c4 lst-kix_i3604hineoim-0" start="2">
          <li class="c20 li-bullet-0">
              <h3 id="h.rimv6kkqhsez" style="display: inline;"><span class="c8">In this privacy policy, unless the context requires a different interpretation:</span></h3>
          </li>
      </ol>
      <ol class="c4 lst-kix_i3604hineoim-1 start" start="1">
          <li class="c3 li-bullet-0"><span class="c0">the singular includes the plural and vice versa;</span></li>
          <li class="c3 li-bullet-0"><span class="c0">references to sub-clauses, clauses, schedules or appendices are to sub-clauses, clauses, schedules or appendices of this privacy policy;</span></li>
          <li class="c3 li-bullet-0"><span class="c0">a reference to a person includes firms, companies, government entities, trusts and partnerships;</span></li>
          <li class="c3 li-bullet-0"><span class="c0">&quot;including&quot; is understood to mean &quot;including without limitation&quot;;</span></li>
          <li class="c3 li-bullet-0"><span class="c0">reference to any statutory provision includes any modification or amendment of it.</span></li>
      </ol>
      <h2 class="c1" id="h.1t28764cpa2w"><span class="c2">Scope of this privacy policy</span></h2>
      <ol class="c4 lst-kix_odub3wyvkuvy-0 start" start="1">
          <li class="c6 li-bullet-0"><span class="c0">This privacy policy describes how we collect, use, share and retain your Data during and after your engagement or relationship with us.</span></li>
          <li class="c6 li-bullet-0"><span class="c0">We are committed to ensuring that any Data we receive is protected and handled in accordance with applicable data protection laws.</span></li>
          <li class="c6 li-bullet-0">
              <span>This privacy policy applies only to the actions of </span><span>the University of Tartu</span>
              <span class="c0">
                  &nbsp;and Users with respect to this Website. It does not extend to any websites that can be accessed from this Website including, but not limited to, any links we may provide to social media websites.
              </span>
          </li>
      </ol>
      <h2 class="c1" id="h.9eyysmwdn9g1"><span class="c2">Data collected</span></h2>
      <ol class="c4 lst-kix_dwd0p6up3rzt-0 start" start="1">
          <li class="c20 li-bullet-0">
              <h3 id="h.uw7o3ya8a05n" style="display: inline;"><span class="c8">We may collect automatically the following Data:</span></h3>
          </li>
      </ol>
      <ol class="c4 lst-kix_dwd0p6up3rzt-1 start" start="1">
          <li class="c3 li-bullet-0"><span class="c0">City and country;</span></li>
          <li class="c3 li-bullet-0"><span class="c0">Device type;</span></li>
          <li class="c3 li-bullet-0"><span class="c0">IP address;</span></li>
          <li class="c3 li-bullet-0"><span class="c0">Web browser type and version;</span></li>
          <li class="c3 li-bullet-0"><span class="c0">Operating system;</span></li>
      </ol>
      <p class="c11 c19"><span class="c0">in each case, in accordance with this privacy policy.</span></p>
      <ol class="c4 lst-kix_dwd0p6up3rzt-0" start="2">
          <li class="c20 li-bullet-0">
              <h3 id="h.g9kjwa2teik9" style="display: inline;"><span class="c8">By your submission, we collect the following Data:</span></h3>
          </li>
      </ol>
      <ol class="c4 lst-kix_dwd0p6up3rzt-1 start" start="1">
          <li class="c3 li-bullet-0"><span class="c0">First name and last name;</span></li>
          <li class="c3 li-bullet-0"><span class="c0">Email;</span></li>
      </ol>
      <h2 class="c1" id="h.gl1o2y4j7ah7"><span class="c2">Our use of Data</span></h2>
      <ol class="c4 lst-kix_jl4o98eli7pn-0 start" start="1">
          <li class="c6 li-bullet-0"><span>Processing of your Data is based on your consent.</span></li>
          <li class="c6 li-bullet-0">
              <span>For purposes of the GDPR, </span><span>the University of Tartu, &nbsp;(address: &Uuml;likooli 18, 50090 Tartu, Estonia</span><span class="c10">)</span><span>&nbsp;</span>
              <span class="c0">is the &ldquo;data controller&rdquo; and the &ldquo;data processor&rdquo;.</span>
          </li>
          <li class="c6 li-bullet-0"><span class="c0">Your name and e-mail are used only for contacting you.</span></li>
          <li class="c6 li-bullet-0"><span class="c0">Any Data you submit or we collect automatically will be deleted automatically after 24 months.</span></li>
          <li class="c6 li-bullet-0"><span class="c0">All personal Data is stored securely in accordance with the principles of the GDPR. For more details on security see the clause below (Security).</span></li>
          <li class="c6 li-bullet-0">
              <span>Any or all of the above Data may be required by us from time to time in order to provide you with the best possible service and experience when using our Website. Specifically,</span>
              <span>&nbsp;Data may be used by us for the following reasons:</span>
          </li>
      </ol>
      <ol class="c4 lst-kix_jl4o98eli7pn-1 start" start="1">
          <li class="c3 li-bullet-0"><span class="c0">contacting you regarding your request;</span></li>
          <li class="c3 li-bullet-0"><span class="c0">improvement of our products/services;</span></li>
          <li class="c3 li-bullet-0"><span class="c0">solving technical issues;</span></li>
          <li class="c3 li-bullet-0"><span class="c0">investigating and solving data breach occurrences;</span></li>
      </ol>
      <p class="c11 c19"><span class="c0">in each case, in accordance with this privacy policy.</span></p>
      <h2 class="c1" id="h.ffpcjzkezo2h"><span class="c2">Data sharing</span></h2>
      <ol class="c4 lst-kix_wdugd4d74mix-0 start" start="1">
          <li class="c6 li-bullet-0"><span>We do not sell, trade, or otherwise transfer to third parties your Data, unless we have prior written consent from you or we are required to do so under applicable law.</span></li>
      </ol>
      <h2 class="c1" id="h.9a1f4kkcs6k4"><span class="c2">Links to other websites</span></h2>
      <ol class="c4 lst-kix_9993celn0d4-0 start" start="1">
          <li class="c6 li-bullet-0">
              <span>The data protection policy does not deal with the way how other persons process personal data. Nor does the policy cover the processing of personal data on external websites to which </span>
              <span>there are links on the portal&rsquo;s web pages.</span>
          </li>
      </ol>
      <h2 class="c1" id="h.ax0qy19ecvhq"><span class="c2">Changes in business ownership and control</span></h2>
      <ol class="c4 lst-kix_ohnj2vj9qcab-0 start" start="1">
          <li class="c6 li-bullet-0">
              <span>The University of Tartu</span><span>&nbsp;may, from time to time, expand or reduce our business and this may involve the sale and/or the transfer of control of all or part of </span><span>the University of Tartu</span>
              <span class="c0">
                  . Data provided by Users will, where it is relevant to any part of our business so transferred, be transferred along with that part and the new owner or newly controlling party will, under the terms of this privacy
                  policy, be permitted to use the Data for the purposes for which it was originally supplied to us.
              </span>
          </li>
          <li class="c6 li-bullet-0"><span>In the above instances, we will take steps with the aim of ensuring your privacy is protected and this privacy policy will be updated accordingly to reflect those changes.</span></li>
      </ol>
      <h2 class="c1" id="h.h5wjc7hqaxhk"><span class="c2">Your Rights</span></h2>
      <ol class="c4 lst-kix_mn3osf9jvawm-0 start" start="1">
          <li class="c6 li-bullet-0"><span class="c0">You may not transfer any of your rights under this privacy policy to any other person. </span></li>
          <li class="c6 li-bullet-0"><span class="c0">You have the right to receive a confirmation on whether or not we are processing your Personal Data.</span></li>
          <li class="c14 li-bullet-0">
              <span>You have the right t</span>
              <span class="c0">
                  o withdraw your consent at any time if the personal Data is processed on the basis of data subject&rsquo;s consent. This does not affect the lawfulness of Data processing that occurred before the consent was withdrawn.
              </span>
          </li>
          <li class="c6 li-bullet-0">
              <span>You have the right to ask for a copy of any of your personal Data held by </span><span>the University of Tartu</span>
              <span>&nbsp;(where such Data is held). The first copy is free of charge, the following copies may incur a small fee, </span><span>which will not exceed </span><span>20 EUR</span><span>.</span>
          </li>
          <li class="c6 li-bullet-0">
              <span class="c0">
                  You have the right to request the erasure of your Data and if the processing of your Data is based on your consent, the right to withdraw your consent. If you request the erasure of your Data or withdraw your consent, we
                  will delete the Data unless there are other legal grounds for the processing or unless we have a statutory obligation to store the Data. In any case, we will delete your Data after the retention period has ended.
              </span>
          </li>
          <li class="c6 li-bullet-0"><span class="c0">If you find out that the way we are processing your Data is against the law, you have the right to submit a claim to the Estonian Data Protection Inspectorate.</span></li>
      </ol>
      <h2 class="c1" id="h.cxw90u2notk7"><span class="c2">Security</span></h2>
      <ol class="c4 lst-kix_goyvwm2o5uhc-0 start" start="1">
          <li class="c6 li-bullet-0">
              <span>Data security is of great importance to </span><span>the University of Tartu</span>
              <span class="c0">&nbsp;and to protect your Data we have put in place suitable physical, electronic and managerial procedures to safeguard and secure Data collected via this Website.</span>
          </li>
          <li class="c6 li-bullet-0"><span class="c0">If password access is required for certain parts of the Website, you are responsible for keeping this password confidential.</span></li>
          <li class="c6 li-bullet-0">
              <span class="c0">
                  We endeavor to do our best to protect your Personal Data. However, the transmission of information over the internet is not entirely secure and is done at your own risk. We cannot ensure the security of your Data
                  transmitted to the Website.
              </span>
          </li>
      </ol>
      <h2 class="c1" id="h.zevw7pn84hv0"><span>Cookies</span></h2>
      <ol class="c4 lst-kix_xcrs9if48j5w-0 start" start="1">
          <li class="c6 li-bullet-0"><span class="c0">You may restrict your internet browser&#39;s use of Cookies.</span></li>
          <li class="c6 li-bullet-0">
              <span>This Website may place and access certain Cookies on your computer. T</span><span>he University of Tartu</span>
              <span>&nbsp;uses Cookies to improve your experience of using the Website and to improve our range of services. T</span><span>he University of Tartu</span>
              <span class="c0">&nbsp;has carefully chosen these Cookies and has taken steps to ensure that your privacy is protected and respected at all times.</span>
          </li>
          <li class="c6 li-bullet-0"><span class="c0">All Cookies used by this Website are used in accordance with current UK and EU Cookie Law.</span></li>
          <li class="c6 li-bullet-0"><span class="c0">By using the Website you agree that the Website will automatically place strictly necessary Cookies on your computer.</span></li>
          <li class="c6 li-bullet-0">
              <span class="c0">
                  Before the Website places analytical/performance Cookies on your computer, you will be presented with a message bar requesting your consent to set those Cookies. By giving your consent to the placing of Cookies, you are
                  enabling the University of Tartu to provide a better experience and service to you. You may, if you wish, deny consent to the placing of analytical/performance Cookies; however certain features of the Website may not
                  function fully or as intended.
              </span>
          </li>
          <li class="c6 li-bullet-0"><span class="c0">This Website may place the following Cookies:</span></li>
      </ol>
      <ol class="c4 lst-kix_xcrs9if48j5w-1 start" start="1">
          <li class="c3 li-bullet-0">
              <span class="c9">Strictly necessary cookies</span><span>&nbsp;- </span><span>These are cookies that are required for the operation of our Website. These cookies expire after </span><span class="c13">48</span>
              <span class="c0">&nbsp;hours.</span>
          </li>
          <li class="c3 li-bullet-0">
              <span class="c9">Analytical/performance cookies</span><span>&nbsp;- </span>
              <span class="c0">
                  They allow us to recognize and count the number of visitors and to see how visitors move around our Website when they are using it. This helps us to improve the way our Website works, for example, by ensuring that users
                  are finding what they are looking for easily. For analytical and performance tracking we use Google Analytics services (https://analytics.google.com/analytics/web/). Two different cookies are used as
                  analytical/performance cookies:
              </span>
          </li>
      </ol>
      <ol class="c4 lst-kix_xcrs9if48j5w-2 start" start="1">
          <li class="c5 li-bullet-0"><span class="c0">&ldquo;_ga&rdquo; cookies which are used to identify unique users and expire after two years.</span></li>
          <li class="c5 li-bullet-0"><span class="c0">&nbsp;&ldquo;_gid&rdquo; cookies which are used to identify the user and expire after 24 hours.</span></li>
      </ol>
      <ol class="c4 lst-kix_xcrs9if48j5w-0" start="7">
          <li class="c6 li-bullet-0">
              <span class="c0">
                  You can choose to enable or disable Cookies in your internet browser. By default, most internet browsers accept Cookies but this can be changed. For further details, please consult the help menu in your internet browser.
              </span>
          </li>
          <li class="c6 li-bullet-0">
              <span class="c0">
                  You can choose to delete Cookies at any time; however, you may lose any information that enables you to access the Website more quickly and efficiently including, but not limited to, personalization settings.
              </span>
          </li>
          <li class="c6 li-bullet-0">
              <span class="c0">
                  It is recommended that you ensure that your internet browser is up-to-date and that you consult the help and guidance provided by the developer of your internet browser if you are unsure about adjusting your privacy
                  settings.
              </span>
          </li>
      </ol>
      <h2 class="c1" id="h.cc3s8cut4vam"><span class="c2">Data Protection Regulation</span></h2>
      <ol class="c4 lst-kix_q2k4oedyqm3k-0 start" start="1">
          <li class="c6 li-bullet-0"><span class="c0">Your personal data will be protected and processed according to European GDPR regulation 2016/679.</span></li>
      </ol>
      <h2 class="c1" id="h.qsb99sgxbcjs"><span class="c2">Changes to this privacy policy</span></h2>
      <ol class="c4 lst-kix_wneev7eih8jo-0 start" start="1">
          <li class="c6 li-bullet-0">
              <span>The University of Tartu</span>
              <span class="c0">
                  &nbsp;reserves the right to change this privacy policy as we may deem necessary from time to time or as may be required by law. The most recent version of the privacy policy is posted on the Website and you are deemed to
                  have accepted the terms of the privacy policy on your first use of the Website following the alterations.
              </span>
          </li>
          <li class="c6 li-bullet-0"><span class="c0">We encourage you to review this privacy policy often to stay informed of changes that may affect you.</span></li>
      </ol>
      <h2 class="c1" id="h.hl3mpaan4e1a"><span class="c2">Contacting Us</span></h2>
      <p class="c11">
          <span>If you have any questions regarding this privacy policy or you would like to receive any stored Data we have about you, please contact us by email at </span><span>support@hpc.ut.ee</span><span class="c0">.</span>
      </p>
      </div>

    </section>
    <!--  ====================== Privacy Section End =============================  -->
  </main>
  {% include footer.html %}