<section class="about-area section-shape-3 position-relative py-8 py-lg-12">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-lg-1">
                <div class="about-left-image"><img data-aos="fade-right" src="{{'/assets/images/about/about-image3.jpg' | relative_url }}"
                        alt="title"></div>
            </div>
            <div class="col-lg-6">
                <div class="section-title mb-4">
                    <span class="badge mb-2">SUCCESS GUIDE</span>
                    <h2 class="display-3 mb-4">How to make success a startup business</h2>
                    <p>We have a team of expert web designers & developers who can create custom websites and mobile
                        apps that
                        match your vision</p>
                </div>
                <ul class="about-list list-inline m-0">
                    <li><span><img src="{{'/assets/images/about/5.svg' | relative_url }}" alt="title"></span>Having through think staple a most
                        arrange
                        still that yes</li>
                    <li><span><img src="{{'/assets/images/about/6.svg' | relative_url }}" alt="title"></span>That soon labour, boundless avoid
                        aggressively </li>
                    <li><span><img src="{{'/assets/images/about/7.svg' | relative_url }}" alt="title"></span>Having through think staple a most
                        arrange
                        still that yes</li>
                </ul>
            </div>
        </div>
    </div>
</section>