  <section class="service-area pt-10 pt-lg-15">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="service-box mb-4 mb-lg-7">
            <div class="service-icon"><img src="{{'/assets/images/service/worldwide.svg' | relative_url}}" alt="International"></div>
            <div class="service-content">
              <h4 class="mb-4">Provide services for international users & collaborations</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-box mb-4 mb-lg-7">
            <div class="service-icon"><img src="{{'/assets/images/service/cooperation.svg' | relative_url}}" alt="Resource Allocators"></div>
            <div class="service-content">
              <h4 class="mb-4">Interface for national & cross-border resource allocators</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-box mb-4 mb-lg-7">
            <div class="service-icon"><img src="{{'/assets/images/service/clipboard.svg' | relative_url}}" alt="Reporting"></div>
            <div class="service-content">
              <h4 class="mb-4">Rich reporting</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-box mb-4 mb-lg-7">
            <div class="service-icon"><img src="{{'/assets/images/service/id.svg' | relative_url}}" alt="title"></div>
            <div class="service-content">
              <h4 class="mb-4">Verified academic, government & industrial identities</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-box mb-4 mb-lg-7">
            <div class="service-icon"><img src="{{'/assets/images/service/api.svg' | relative_url}}" alt="API"></div>
            <div class="service-content">
              <h4 class="mb-4">API-first</h4>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="service-box mb-4 mb-lg-7">
            <div class="service-icon"><img src="{{'/assets/images/service/integration.svg' | relative_url}}" alt="title"></div>
            <div class="service-content">
              <h4 class="mb-4">Integrations with SLURM, OpenStack and Rancher Kubernetes</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  