<section class="about-area section-shape-2 position-relative py-8 py-lg-12 mt-10 mt-lg-15">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 offset-lg-1 order-lg-1">
                <div class="about-right-image"><img data-aos="fade-right" src="{{'/assets/images/about/about-image.jpg' | relative_url}}"
                        alt="title"></div>
            </div>
            <div class="col-lg-6 order-lg-12">
                <div class="section-title mb-4">
                    <span class="badge mb-2">MONEY MANAGEMENT</span>
                    <h2 class="display-3 mb-4">Increase the value of your money </h2>
                    <p>Is suppliers, of their academic was bread rationale and had chooses we is same and this acting
                        disciplined instantly </p>
                </div>
                <ul class="about-list list-inline mb-4">
                    <li><span><img src="{{'/assets/images/about/1.svg' | relative_url}}" alt="title"></span>Secure Money</li>
                    <li><span><img src="{{'/assets/images/about/2.svg' | relative_url}}" alt="title"></span>Trending Report</li>
                    <li><span><img src="{{'/assets/images/about/3.svg' | relative_url}}" alt="title"></span>Flawless Credit</li>
                    <li><span><img src="{{'/assets/images/about/4.svg' | relative_url}}" alt="title"></span>Correct Analysis</li>
                </ul>
                <a href="{{'/contact' | relative_url}}" class="btn btn-primary">REQUEST FREE DEMO</a>
            </div>
        </div>
    </div>
</section>