<section class="call-out-area bg-danger py-10 py-lg-15">
    <div class="container">
        <div class="shadow-sm bg-white border-5 border-start border-danger p-5">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h3 class="mb-2">Always there for you wherever you are</h3>
                    <p class="m-0">We have strong feelings about planning. So strong, in fact, that we believe they
                        deserve
                        their own manifesto.</p>
                </div>
                <div class="col-md-4">
                    <a href="{{'/contact' | relative_url}}" class="btn btn-danger mt-3 mt-md-0 float-md-end"
                        data-aos="fade-right">CONTACT US</a>
                </div>
            </div>
        </div>
    </div>
</section>