<section class="call-to-action-area2 position-relative pt-10 pt-lg-15">
  <div class="container">
      <div class="call-to-action-content text-center aos-init aos-animate" data-aos="fade-up">
            <h2 class="display-3">Are you ready for a competitive edge?</h2>
            <p class="my-3">Whenever every at conduct, proposal. You variety have way origin that had any people</p>
            <div>
              <a href="{{'/contact' | relative_url}}" class="btn btn-primary me-2 mb-2">CONTACT TODAY</a>
              <a href="{{'/all-services' | relative_url}}" class="btn btn-outline-danger mb-2">VIEW SERVICES</a>
            </div>
      </div>
  </div>
</section>