<section class="call-to-action-area position-relative bg-primary py-10 py-lg-15 mt-8 mt-lg-12">
    <div id="call-tsparticles"></div>
    <div class="container">
        <div class="call-to-action-content text-center" data-aos="fade-up">
            <h2 class="display-3">Are you ready for a competitive edge?</h2>
            <p class="my-3">Whenever every at conduct, proposal. You variety have way origin that had any people</p>
            <div>
                <a href="{{'/contact' | relative_url}}" class="btn btn-primary me-2 mb-2">CONTACT TODAY</a>
                <a href="{{'/all-services' | relative_url}}" class="btn btn-danger mb-2">VIEW SERVICES</a>
            </div>
        </div>
    </div>
</section>