<div class="company-area pt-10 pt-lg-15">
    <div class="container">
        <div class="swiper-container company-slider">
            <div class="swiper-wrapper">
                {% for partner in site.data.partners %}
                    <div class="swiper-slide">
                        <div class="company-logo"><img src="{{partner.img_src | relative_url}}" alt="{{partner.name}}"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>