<section class="counter-area pt-9 pt-lg-3 pb-10 pb-lg-3">
    <div class="container">
        <div class="row">
            <div class="col-6 col-xl-3">
                <div class="counter-box text-center mt-3">
                    <div class="counter-icon">
                        <img src="{{'/assets/images/counter-icon1.svg' | relative_url}}" alt="title">
                    </div>
                    <div class="counter-content">
                        <h2 class="display-2 my-2"><span class="counter-number">600</span>+</h2>
                        <p class="m-0 fw-bold">Allocations approved</p>
                    </div>
                </div>
            </div>

            <div class="col-6 col-xl-3">
                <div class="counter-box text-center mt-3">
                    <div class="counter-icon">
                        <img src="{{'/assets/images/counter-icon2.svg' | relative_url}}" alt="title">
                    </div>
                    <div class="counter-content">
                        <h2 class="display-2 my-2"><span class="counter-number">25</span></h2>
                        <p class="m-0 fw-bold">Organizations involved</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3">
                <div class="counter-box text-center mt-3">
                    <div class="counter-icon">
                        <img src="{{'/assets/images/counter-icon3.svg' | relative_url}}" alt="title">
                    </div>
                    <div class="counter-content">
                        <h2 class="display-2 my-2"><span class="counter-number">590</span>+</h2>
                        <p class="m-0 fw-bold">Research projects running</p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-xl-3">
                <div class="counter-box text-center mt-3">
                    <div class="counter-icon">
                        <img src="{{'/assets/images/counter-icon4.svg' | relative_url}}" alt="title">
                    </div>
                    <div class="counter-content">
                        <h2 class="display-2 my-2"><span class="counter-number">550</span>+</h2>
                        <p class="m-0 fw-bold">petaFLOPS under control</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
