<form  action="https://formspree.io/akash@themeix.com" method="POST" >
    <div class="row">
        <div class="col-md-12">
            <div class="mb-3">
                <input type="text" name="name" class="form-control" placeholder="Name..">
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <input type="email" name="email" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <input type="text" name="subject" class="form-control" placeholder="Subject">
            </div>
        </div>
        <div class="col-md-12">
            <div class="mb-3">
                <textarea name="message" class="form-control" rows="4" placeholder="Message"></textarea>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-danger w-100">GET A FREE QUOTE</button>
</form>