.table>:not(caption)>*>* {
    padding: 0.75rem;

}
.pricing-icon{
    background-color: #e7f3fe;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
   
}