.call-out-area{ 
    &.bg-primary{
        background-color: rgba($primary, 0.05)!important; 
    }
    &.bg-info{
        background-color: rgba($info, 0.05)!important; 
    }
    &.bg-success{
        background-color: rgba($success, 0.05)!important; 
    }
    &.bg-warning{
        background-color: rgba($warning, 0.05)!important; 
    }
    &.bg-danger{
        background-color: rgba($danger, 0.05)!important; 
    }
    &.bg-dark{
        background-color: rgba($dark, 0.05)!important; 
    }
}
