<!DOCTYPE HTML>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}" data-color="light">
    
<head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% seo %}

    <!-- STYLES -->
<!--    <link rel="shortcut icon" href="{{'assets/images/favicon.png' | relative_url}}" type="images/x-icon" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.0/dist/cookieconsent.css">

    <!-- gulp:css -->
    <link rel="stylesheet" type="text/css" href="{{'/assets/css/app.min.css' | relative_url}}" />
    <!-- endgulp -->
    <script defer src="https://cdn.jsdelivr.net/gh/orestbida/cookieconsent@v2.8.0/dist/cookieconsent.js"></script>
    <script defer src="{{'/assets/js/cookieconsent-init.js' | relative_url}}"></script>
    {% feed_meta %}

</head>

<body>

    <div class="cursor-direction"></div>

    {{content}}

    
  <!-- gulp:js -->
  <script src="{{'/assets/js/build.min.js' | relative_url}}"></script>
  <!-- endgulp -->
</body>

</html>
</html>